<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"  />
<title>Lista de contactos</title>
</head>
<body>
 <table>
 	<thead>
 		<th>ID</th>
 		<th>Nombre</th>
 		<th>Email</th>
 		<th>Direccion</th>
 		<th>Acciones</th>
 	</thead>
 	<tbody th:each="contacto: ${contactos}">
 		<tr>
 			<td th:text= "${contacto.id}">1</td>
 			<td th:text= "${contacto.nombre}">Vicente</td>
 			<td th:text= "${contacto.mail}">vrfranco.py@gmail.com</td>
 			<td th:text= "${contacto.direccion}">Luque, Paraguay</td>
 			<td> <a th:href="@{'/contactos/form}" >Editar</a></td>
 		</tr>
 	</tbody>
 </table>
 <a th:href="@{/logout}">Cerrar sesion</a>
</body>
</html>