<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<span th:text="${error}"></span>
	<form th:action="@{/login}" method="post">
		<input type="text" name="username" placeholder="Username" /> 
		<input type="password" name="password" placeholder="Password" /> 
		<input type="submit" name="login" class="login login-submit" value="Acceder" />
	</form>
</body>
</html>